@page "/profill"
@inherits ProfillBase
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
<h1>@veritut1 POSTLARI</h1>
@foreach (var p in people)
{
    if (p.veritutiki == veritut1)
    {
        <p>
            <hr />
        <h3>konu:@p.konua</h3>
        <br>
        <h3>mesaj:@p.Mesaja</h3>
        <br>
        <hr />
        </p>
        <hr />
    }

}